<ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
        <li><a href="{% url 'activity:activity_create' %}">Create</a></li>
        <li><a href="{% url 'myactivities:created_activities' %}">Created</a></li>
        <li><a href="{% url 'myactivities:participated_activities' %}">Participating</a></li>
        <li><a href="{% url 'cabinet:index' %}">Profile</a></li>
        <li><a href="{% url 'auth:logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'auth:login' %}">Log In</a></li>
        <li><a href="{% url 'auth:signup' %}">Sign Up</a></li>
    {% endif %}
</ul>
